@media screen and (min-width:801px) {
/* GENERAL */
    main {
    background-image: url(media/desktopbg.png);
    background-size: cover;
}
/* MENU */
.desktopmenu{
    display: inline-flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: rgba(8, 9, 9, 0.8);
    overflow: hidden;
    height: 5em;
}

.desktopmenu ul{
    padding-top: 0px;
    padding-bottom: 0px;
}

.desktopmenu li{
    display: inline-flex;
    text-decoration: none;
}

.desktopmenu a{
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
}

.menupoints {
display: flex;
    justify-content: space-around;
    font-family: 'BEBA';
    margin-top: auto;
    margin-bottom: auto;
    width: 53%;
    }

.menupoints li{
    margin-right: 0.7em;
    font-size: 22px;
}

.menupoints li:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #F9C700;
}

.socialicons {
    margin-top: auto;
    margin-bottom: auto;
}

.socialicons li{
    margin-right: 1em;
}

.socialicons a:hover {
    cursor: pointer;
    color: #F9C700;
}

.burgermenu{
        display: none;
    }

    .burgernavheader {
        display: none;
    }
/* MODAL */

/* LANDING */


/*SHOWS*/
    .single_show_wrapper {
        display: grid;
        grid-template-columns: 15% auto 20%;
    }
/* ABOUT */
    .about_container{
        grid-template-columns: 50% 50%;
    }
    #about_description {
        width: 40vw;
        margin: 0 auto;
        padding-top: 100px;
        line-height: 1.8;

    }
    #about_img {
        height: 330px;
        position: relative;
        left: 10%;
    }
/* VIDEOS */


/* BOOKME */


/* SPOTIFY */


}
