/* GENERAL */

body,
html {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: HelveticaNeue;
    color: white;

}

h1 {
    font-family: Beba;
    text-align: center;
    font-size: 60px;
    font-weight: lighter;
}
h2 {

    width: 70vw;
    margin: 0 auto;
}

@font-face {
  font-family: 'Beba';
  src: url('fonts/BEBAS.ttf'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

section {
    height: 100vh;
    width: 100vw;

}



.compartement {
    height: 100vh;
    padding-top: 50px;
    border: 1px solid black;
}


/* MENU */


/* MODAL */


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#video_modal {
    display: none;
}


/* LANDING */

.landing {
    text-align: center;

}
.parallax-container {
    height: 100vw;
}
video{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);
    -moz-transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);
    transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);
    z-index: -99
}
.fa-arrow-down {
    color: #F9C700;
    position: relative;
    top: 85%;

}

/* SHOWS */
.shows_container {
    padding-top: 30px;
    width: 60vw;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 30px;
    text-align: center;
}

.single_show_wrapper {
    border: 2px #F9C700 solid;
    padding: 15px;

}
#show_ticket_link {
  border-radius: 10px;
  font-family: Beba;
  color: #000000;
  font-size: 20px;
  background: #F9C700;
  padding: 10px 20px 10px 20px;
  width: 65px;
  max-height: 20px;
  text-decoration: none;
  margin: 0 auto;
}
/* ABOUT */

.about_container {
    display: grid;
}



/* NEWS */
.news_container {
    display: flex;
    margin: auto;
    flex-direction: row;
}


.single_news_wrapper {
    background-size: cover;
    height: 150px;
    width: 250px;
}


/* VIDEOS */
.video_container {
    display: flex;
}
.video_img {
    height: 200px;
    width: 200px;
    background-size: cover;
}

/* BOOKME */


/* SPOTIFY */
