
/* GENERAL */

body,
html {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: HelveticaNeue;
    color: white;

}

h1 {
    font-family: Beba;
    text-align: center;
    font-size: 60px;
    font-weight: lighter;
}
h2 {

    width: 70vw;
    margin: 0 auto;
}

@font-face {
  font-family: 'Beba';
  src: url('fonts/BEBAS.ttf'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

section {
    height: 100vh;
    width: 100vw;

}



.compartement {
    height: 100vh;
    padding-top: 50px;

}

span {
    text-decoration: none;
    color: #EFEFEF;

}

#spotify_player {
    position: fixed;
    bottom: 0;
    display: none;

}
#spotify_player_mobile {
    display: none;
}


/* MENU */


/* MODAL */


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#video_modal {
    display: none;
}


/* LANDING */

.landing {
    text-align: center;

}
.parallax-container {
    height: 100vw;
}
video{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0%;
    left: 50%;
    width: auto;
    height: 100vh;
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);
    -moz-transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);
    transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);
    z-index: -99;
}
.svg_container {
    height: 70vh;
    width: 90vw;
    margin: 0 auto;
    margin-top: 4vh;
}
.fa-arrow-down {
    color: #F9C700;
    margin-top: 20vh;
    max-height: 20px;
}

.fa-arrow-down:hover {
    cursor: pointer;
}

/* SHOWS */
.shows_container {
    padding-top: 30px;
    width: 60vw;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 30px;
    text-align: center;
}

.single_show_wrapper {
    border: 2px #F9C700 solid;
    padding: 15px;

}
#show_ticket_link {
  border-radius: 10px;
  font-family: Beba;
  color: #000000;
  font-size: 20px;
  background: #F9C700;
  padding: 10px 20px 10px 20px;
  width: 65px;
  max-height: 20px;
  text-decoration: none;
  margin: 0 auto;
}
/* ABOUT */

.about_container {
    display: grid;
}


/* NEWS */
.news_container {
    width: 80vw;
    margin: 0 auto;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 40px;

}


.single_news_wrapper {
    background-size: cover;
    height: 23vh;
    width: 19vw;
    margin: 20px;
    background-blend-mode: darken;
    display: grid;

}

.single_news_wrapper span {
    font-size: 20px;
}
@media screen and (max-width:600px ) {
    .news_container {
        display: flex;
        width: 80vw;
        flex-direction: column;
    }
    .single_news_wrapper {
        width: 60vw;
    }
}

@media screen and (min-width: 600px) and (max-width:1000px ) {
    .news_container {
        grid-template-columns: auto auto ;
    }
    .single_news_wrapper {
        width: 30vw;
    }
}

/* VIDEOS */
.video_container {
    display: grid;
    width: 100vw;
    grid-template-columns: auto auto;
}
.video_img {
    height: 20vh;
    width: 40vw;
    background-size: cover;
}

@media screen and (max-width:800px ) {
    .video_container {
        grid-template-columns: auto;
    }
    .video_img {
        width: 80vw;
    }
}



/* BOOKME */
form {
    display: block;
    box-sizing: border-box;
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
}

  input, textarea {
      border:0;
      outline:0;
      padding: 1em;
      border-radius: 8px;
      display: block;
      width: 100%;
      margin-top: 1em;
      font-family: 'Merriweather', sans-serif;
      box-shadow : 0 1px 1px rgba(black, 0.1);
      resize: none;

    &:focus {
       box-shadow: 0 0px 2px rgba($red, 1)!important);
    }
  }

  #input-submit {
     color: white;
     background: #e74c3c;
     cursor: pointer;

    &:hover {
       @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6));
    }
  }
  textarea {
      height: 126px;
  }
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
    width: 50%;
}

.left {
     margin-right: 2%;
}


@media (max-width: 480px) {
  .half {
     width: 100%;
     float: none;
     margin-bottom: 0;
  }
}
/*Book Me Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* SPOTIFY */

