/* GENERAL */

body,html {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

.main {
    height: 100%;
    width: 100%;
    background-image: url(converted-2.png);
}

.compartement ()

section {
    height: 100%;
    width: 100%;
    border: 1px solid black;

}

/* MENU */

/* LANDING */

/* SHOWS */

/* ABOUT */

/* NEWS */

/* VIDEOS */

/* BOOKME */

/* SPOTIFY */
